body {
    color: #fff;
    background: hsl(227, 10%, 10%);
    /*justify-content: center;*/
    /*display: flex;*/
}

.container {
    text-align: left;
    margin-top: 20px;
}

.btn {
    border-radius: 5px;
    background: none;
    font: inherit;
    line-height: 1;
    margin: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #a972cb;
    border: 2px solid #a972cb;
}

.btn:hover {
    box-shadow: #a972cb inset 0 0 0 50px;
    transition: 0.25s;
    color: white;
}

.main-buttons{
    margin: 30px;
}