body {
    color: #fff;
    background: hsl(227, 10%, 10%);
    justify-content: center;
}

.container {
    /*text-align: left;*/
    margin: 20px;
}

.btn-container{
    margin: 30px;
}

.table {
    /*background-color: black;*/
    padding: 10px;
    margin: 10px;
}

.table-container {
    /*background-color: bisque;*/
    margin: 10px;
    padding: 20px 80px;
}

.table1 {
    text-align: center;
    width: 100%;
    color: #a972cb;
    border: 1px solid #a972cb;
    border-collapse: collapse;
    font-family: "Italic", cursive;
    font-size: 16px;
}

.table-header {
    border: 1px solid #a972cb;
    border-collapse: collapse;
    padding: 5px;
}

.table-data{
    border: 1px solid #a972cb;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}

.btn {
    border-radius: 5px;
    background: none;
    font: inherit;
    line-height: 1;
    margin: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #a972cb;
    border: 2px solid #a972cb;
}

.btn:hover {
    box-shadow: #a972cb inset 0 0 0 50px;
    transition: 0.25s;
    color: white;
}