<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New workout</title>
    <link href="../static/css/create_form.css" th:href="@{/css/create_form.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="create-container">
            <div class="create">
                <form th:action="@{/create_workout_new}" th:method="POST" th:object="${newExercise}">
                    <div>
                        <label for="exerciseGroup">Group</label>
                        <select class="input-label" id="exerciseGroup" name="exerciseGroup">
                            <option value="CHEST">CHEST</option>
                            <option value="BACK">BACK</option>
                            <option value="LEGS">LEGS</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <label for="exerciseName">Exercise</label>
                        <select class="input-label" id="exerciseName" name="exerciseName">
                            <option value="Bench_Press">Bench_Press</option>
                            <option value="Pull_Ups">Pull_Ups</option>
                            <option value="Squads">Squads</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <label for="weight">Weight</label>
                        <input class="input-label" type="text" id="weight" th:field="*{weight}" placeholder="Weight..">
                        <div style="color: red" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" >Error</div>
                    </div>
                    <br>
                    <div>
                        <label for="sets">Sets</label>
                        <input class="input-label" type="text" id="sets" th:field="*{w_sets}" placeholder="Sets..">
                        <div style="color: red" th:if="${#fields.hasErrors('w_sets')}" th:errors="*{w_sets}" >Error</div>
                    </div>
                    <br>
                    <div>
                        <label for="reps">Reps</label>
                        <input class="input-label" type="text" id="reps" th:field="*{w_reps}" placeholder="Reps..">
                        <div style="color: red" th:if="${#fields.hasErrors('w_reps')}" th:errors="*{w_reps}" >Error</div>
                    </div>
                    <br>
                    <div>
                        <input class="submit" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>



</body>
</html>