<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <section>
        <nav class="navigation">
            <ul class="menu">
                <li class="menuitem"><a class="a" href="/main" data-item="HOME">HOME</a></li>
                <li class="menuitem"><a class="a" href="/create_workout_new" data-item="CREATE">CREATE</a></li>
            </ul>
        </nav>

    </section>

    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>DATE</th>
                <th>GROUP</th>
                <th>EXERCISE</th>
                <th>WEIGHT</th>
                <th>SETS</th>
                <th>REPS</th>
                <th>EDIT</th>
                <th>DELETE</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="next : ${workout}">
                <td th:text="${next.getDate()}">Date</td>
                <td th:text="${next.getExerciseGroup()}">Exercise</td>
                <td th:text="${next.getExerciseName()}">Exercise</td>
                <td th:text="${next.getWeight()}">Weight</td>
                <td th:text="${next.getW_sets()}">Sets</td>
                <td th:text="${next.getW_reps()}">Reps</td>
                <td> <a th:href="@{{id}/edit(id=${next.getId()})}">Edit</a></td>
                <td> <a th:href="@{/delete/{id}(id=${next.getId()})}">Delete</a></td>
            </tr>
            <tbody>
        </table>
    </div>
</div>
</body>
</html>