<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editing exercise</title>
</head>
<body>
<div>
    <div>
        <div>
            <form th:method="PATCH" th:action="@{/{id}(id=${exercise.getExerciseName()})}" th:object="${exercise}">
                <div>
                    <label for="exerciseGroup">Group</label>
                    <select id="exerciseGroup" th:field="*{exerciseGroup}" name="exerciseGroup">
                        <option th:value="*{exerciseGroup}" th:text="*{exerciseGroup}" ></option>
                    </select>
                </div>
                <br>
                <div>
                    <label for="exerciseName">Exercise</label>
                    <select id="exerciseName" th:field="*{exerciseName}" name="exerciseName">
                        <option th:value="*{exerciseName}" th:text="*{exerciseName}" ></option>
                    </select>
                </div>
                <br>
                <div>
                    <label for="weight">Weight</label>
                    <input type="text" id="weight" th:field="*{weight}" name="weight" placeholder="Weight..">
                </div>
                <br>
                <div>
                    <label for="sets">Sets</label>
                    <input type="text" id="sets" th:field="*{sets}" name="sets" placeholder="Sets..">
                </div>
                <br>
                <div>
                    <label for="reps">Reps</label>
                    <input type="text" id="reps" th:field="*{reps}" name="reps" placeholder="Reps..">
                </div>
                <br>
                <div>
                    <input type="submit" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>