<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <!-- <p class="title" data-item='WORKOUT'>workout</p> -->

    <section>
        <nav class="navigation">
            <ul class="menu">
                <li class="menuitem"><a class="a" href="/training_diary" data-item="Diary">Diary</a></li>
                <li class="menuitem"><a class="a" href="/create_workout" data-item="Workout">Workout</a></li>
                <li class="menuitem"><a class="a" href="#" data-item="Button">Button</a></li>
                <li class="menuitem"><a class="a" href="#" data-item="Button">Button</a></li>
                <li class="menuitem"><a class="a" href="#" data-item="Button">Button</a></li>
            </ul>
        </nav>

    </section>
</body>
</html>