<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <div>
        <div>
            <a href="/training_diary" type="button" class="btn">Training diary</a>
        </div>
        <div>
            <a href="/create_workout" type="button" class="btn">Create workout</a>
        </div>
        <div>
            <a href="" type="button" class="btn">BUTTON</a>
        </div>
        <div>
            <a href="" type="button" class="btn">BUTTON</a>
        </div>
    </div>
</body>
</html>