<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="main-btn-containers">
            <a href="/training_diary" type="button" class="btn">Training diary</a>
        </div>
        <div class="main-btn-containers">
            <a href="/create_workout" type="button" class="btn">Create workout</a>
        </div>
        <div class="main-btn-containers">
            <a href="" type="button" class="btn">BUTTON</a>
        </div>
        <div class="main-btn-containers">
            <a href="" type="button" class="btn">BUTTON</a>
        </div>
    </div>
</body>
</html>