<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>workout</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>


    <section>
        <nav class="navigation">
            <ul class="menu">
                <li class="menuitem"><a class="a" href="#" data-item="CHEST">CHEST</a></li>
                <li class="menuitem"><a class="a" href="#" data-item="BACK">BACK</a></li>
                <li class="menuitem"><a class="a" href="#" data-item="LEGS">LEGS</a></li>
                <li class="menuitem"><a class="a" href="#" data-item="SHOULDER">SHOULDER</a></li>
                <li class="menuitem"><a class="a" href="#" data-item="BICEPS">BICEPS</a></li>
                <li class="menuitem"><a class="a" href="#" data-item="ABS">ABS</a></li>
                <li class="menuitem"><a class="a" href="#" data-item="CALVES">CALVES</a></li>
            </ul>
        </nav>

    </section>

</body>
</body>
</html>

