<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>workout</title>
<!--    <link rel="stylesheet" th:href="@{style.css}">-->
</head>
<body>


<div class="container">
    <div>
        <a href="" type="button" class="btn btn1">CHEST</a>
        <a href="" type="button" class="btn btn2">BACK</a>
        <a href="" type="button" class="btn btn3">LEGS</a>
        <a href="" type="button" class="btn btn4">SHOULDERS</a>
        <a href="" type="button" class="btn btn5">BICEPS</a>
        <a href="" type="button" class="btn btn6">ABS</a>
        <a href="" type="button" class="btn btn7">CALVES</a>
    </div>

</div>

</body>
</body>
</html>

